#_ecmqt_quicklinks_options,
#_ecmqt_custom_links,
#_ecmqt_custom_quicklinks_options {
	width: 832px;
}
#_ecmqt_custom_quicklinks_options {
	margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
	#_ecmqt_quicklinks_options,
	#_ecmqt_custom_links,
	#_ecmqt_custom_quicklinks_options {
		width: 100%;
	}
}

#_ecmqt_quicklinks_options .widefat tr.ecmqt-heading td,
#_ecmqt_custom_links.widefat tr.ecmqt-heading td {
	background: #ededed;
	color: #555;
	border-bottom: 1px solid #e1e1e1;
}
#_ecmqt_quicklinks_options .widefat thead th,
#_ecmqt_custom_links.widefat thead th {
	background: #222;
	color: white;
}
#_ecmqt_quicklinks_options .update-plugins,
#_ecmqt_quicklinks_options .awaiting-mod {
	display: inline-block;
	background-color: #d54e21;
	color: #fff;
	font-size: 9px;
	line-height: 17px;
	font-weight: 600;
	margin: 1px 0 0 2px;
	vertical-align: top;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	z-index: 26;
	padding: 0 6px;
}

.ecmqt-menu-item .update-plugins,
.ecmqt-menu-item .awaiting-mod {
	display: none;
}
.ecmqt-has-submenu > a::after,
.ecmqt-has-submenu > .ab-empty-item::after {
	content: ' \25BE';
}
#_ecmqt_custom_links .ecmqt-custom-link-delete a {
	color: red;
	transition: 0.2s;
	cursor: pointer;
}
#_ecmqt_custom_links .ecmqt-custom-link-delete a:hover {
	color: darkred;
}
#_ecmqt_custom_links .ecmqt-table-link {
	color: grey;
}
@media screen and (min-width: 680px) {
	#wpfooter .ecommnet-footer p.quick-toolbar {
		width: 615px;
	}
}

#wpfooter .ecommnet-footer {
	margin-bottom: 22px;
}

#wpfooter .ecommnet-footer p {
	font-size: 11px;
	line-height: 14px;
	margin-top: 8px;
}

#wpbody-content {
	padding-bottom: 175px !important;
}

.ecmqt-menu-item .dashicons-before:before {
	margin-right: 3px;
	margin-top: 5px;
	opacity: 0.6;
}
.ecmqt-menu-item:hover > a > .dashicons-before:before {
	opacity: 1;
	color: #45bbe6;
}
.ecmqt-menu-item a img,
.ecmqt-menu-item div img {
	height: 20px !important;
	width: auto !important;
	margin-top: 5px !important;
	float: left;
	margin-right: 7px !important;
	opacity: 0.8;
}

.ecmqt-menu-item:hover a > img,
.ecmqt-menu-item:hover div > img {
	opacity: 1;
}

#_ecmqt_add_to_toolbar {
	position: fixed;
	top: 50px;
	right: 10px;
}

@media only screen and (max-width: 782px) {
	.ecmqt-h2 {
		display: inline-block;
	}
}